In [0]:
import pandas as pd
import numpy as np
from zipfile import ZipFile

Function to consider January/February

### **2003 Season Preprocessing**

In [68]:
s2003 = pd.read_csv("https://raw.githubusercontent.com/fescobar96/Crime-Prediction-in-San-Francisco/master/Data/2003.csv", header=1)
s2003.drop(s2003.columns[[0, 1,3,4,6,7,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]], axis=1, inplace=True )
s2003["Year"] = "2003"
s2003["Date"] = s2003["Date"] + ", " +s2003["Year"]
s2003.drop(columns=["Year"], inplace=True)
s2003.columns = ["Date", "Output", "Home"]
s2003["Home"].fillna(1, inplace=True)
s2003.replace({"@":0}, inplace=True)
s2003.dropna(inplace=True)
s2003

                  Date Output  Home
0    September 7, 2003      W     1
1   September 14, 2003      L     0
2   September 21, 2003      L     1
3   September 28, 2003      L     0
4      October 5, 2003      W     1
5     October 12, 2003      L     0
6     October 19, 2003      W     1
7     October 26, 2003      L     0
8     November 2, 2003      W     1
10   November 17, 2003      W     1
11   November 23, 2003      L     0
12   November 30, 2003      L     0
13    December 7, 2003      W     1
14   December 14, 2003      L     0
15   December 21, 2003      W     0
16   December 27, 2003      L     1

### **2004 Season Preprocessing**

In [69]:
s2004 = pd.read_csv("https://raw.githubusercontent.com/fescobar96/Crime-Prediction-in-San-Francisco/master/Data/2004.csv", header=1)
s2004.drop(s2004.columns[[0, 1,3,4,6,7,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]], axis=1, inplace=True )
s2004["Year"] = "2004"
s2004["Date"] = s2004["Date"] + ", " +s2004["Year"]
s2004.drop(columns=["Year"], inplace=True)
s2004.columns = ["Date", "Output", "Home"]
s2004["Home"].fillna(1, inplace=True)
s2004.replace({"@":0}, inplace=True)
s2004.dropna(inplace=True)
s2004

                  Date Output  Home
0   September 12, 2004      L     1
1   September 19, 2004      L     0
2   September 26, 2004      L     0
3      October 3, 2004      L     1
4     October 10, 2004      W     1
5     October 17, 2004      L     0
7     October 31, 2004      L     0
8     November 7, 2004      L     1
9    November 14, 2004      L     1
10   November 21, 2004      L     0
11   November 28, 2004      L     1
12    December 5, 2004      L     0
13   December 12, 2004      W     0
14   December 18, 2004      L     1
15   December 26, 2004      L     1
16     January 2, 2004      L     0

### **2005 Season Preprocessing**

### **2006 Season Preprocessing**

### **2007 Season Preprocessing**

### **2008 Season Preprocessing**

### **2003 Season Preprocessing**

### **2003 Season Preprocessing**

### **2003 Season Preprocessing**

### **2003 Season Preprocessing**

### **2003 Season Preprocessing**

### **2003 Season Preprocessing**