## **Install Libraries**

In [60]:
!pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.6/dist-packages (0.6.2)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.6.4.post2)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (0.25.3)
Requirement already satisfied: fiona in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.8.13)
Requirement already satisfied: pyproj in /usr/local/lib/python3.6/dist-packages (from geopandas) (2.4.2.post1)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.17.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.6.1)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.12.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (0.5.0)
Requirement already satisfied: munch in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.3.0)

## **Import Libraries**

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd

## **Import Data**

In [0]:
crimes = pd.read_csv("train.csv")

In [0]:
weather = pd.read_csv("https://raw.githubusercontent.com/fescobar96/Crime-Prediction-in-San-Francisco/master/Data/sf_weather.csv")

## **Data Preprocessing - San Francisco Crimes**

In [0]:
crimes.drop(columns=["Category", "Descript", "Resolution", "Address", "X", "Y"], inplace=True)

In [0]:
crimes["Dates"] = pd.to_datetime(crimes["Dates"]).dt.date

In [66]:
crimes.head()

        Dates  DayOfWeek PdDistrict
0  2015-05-13  Wednesday   NORTHERN
1  2015-05-13  Wednesday   NORTHERN
2  2015-05-13  Wednesday   NORTHERN
3  2015-05-13  Wednesday   NORTHERN
4  2015-05-13  Wednesday       PARK

## **Data Preprocessing - Weather**

In [0]:
weather["Dates"] = pd.to_datetime(weather["date"]).dt.date

In [0]:
weather.drop(columns=["date", "moon_illumination, %"], inplace=True)

In [69]:
weather.head()

   avg_temp (celsius) precipitation (mm)  ... visibility (km)       Dates
0                   9               0.00  ...            15.0  2003-01-01
1                  10               0.00  ...            15.0  2003-01-02
2                  10               0.00  ...            15.0  2003-01-03
3                  11               0.00  ...            15.0  2003-01-04
4                  11               0.25  ...             6.0  2003-01-05

[5 rows x 5 columns]

In [70]:
weather

      avg_temp (celsius) precipitation (mm)  ... visibility (km)       Dates
0                      9               0.00  ...            15.0  2003-01-01
1                     10               0.00  ...            15.0  2003-01-02
2                     10               0.00  ...            15.0  2003-01-03
3                     11               0.00  ...            15.0  2003-01-04
4                     11               0.25  ...             6.0  2003-01-05
...                  ...                ...  ...             ...         ...
4511                  15               0.00  ...            45.0  2015-05-09
4512                  14               0.00  ...            47.0  2015-05-10
4513                  14               0.00  ...            66.0  2015-05-11
4514                  14               0.00  ...            69.0  2015-05-12
4515                  15               0.00  ...            40.0  2015-05-13

[4516 rows x 5 columns]

Merge crimes and weather dataframes

In [0]:
data=pd.merge(crimes, weather, how="left", on="Dates")

In [74]:
data

             Dates  DayOfWeek  ... wind_speed (km/h)  visibility (km)
0       2015-05-13  Wednesday  ...                19             40.0
1       2015-05-13  Wednesday  ...                19             40.0
2       2015-05-13  Wednesday  ...                19             40.0
3       2015-05-13  Wednesday  ...                19             40.0
4       2015-05-13  Wednesday  ...                19             40.0
...            ...        ...  ...               ...              ...
878044  2003-01-06     Monday  ...                13             16.0
878045  2003-01-06     Monday  ...                13             16.0
878046  2003-01-06     Monday  ...                13             16.0
878047  2003-01-06     Monday  ...                13             16.0
878048  2003-01-06     Monday  ...                13             16.0

[878049 rows x 7 columns]