## **Install Libraries**

In [21]:
!pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.6/dist-packages (0.6.2)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.6.4.post2)
Requirement already satisfied: fiona in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.8.13)
Requirement already satisfied: pyproj in /usr/local/lib/python3.6/dist-packages (from geopandas) (2.4.2.post1)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (0.25.3)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (0.5.0)
Requirement already satisfied: munch in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.12.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.3.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.17.5)

## **Import Libraries**

In [0]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import geopandas as gpd

## **Import Data**

In [0]:
crimes = pd.read_csv("train.csv")

In [0]:
weather = pd.read_csv("https://raw.githubusercontent.com/fescobar96/Crime-Prediction-in-San-Francisco/master/Data/sf_weather.csv")

## **Data Preprocessing - San Francisco Crimes**

In [0]:
crimes.drop(columns=["Category", "Descript", "Resolution", "Address", "X", "Y"], inplace=True)

In [0]:
crimes["Dates"] = pd.to_datetime(crimes["Dates"]).dt.date

In [27]:
crimes.head()

        Dates  DayOfWeek PdDistrict
0  2015-05-13  Wednesday   NORTHERN
1  2015-05-13  Wednesday   NORTHERN
2  2015-05-13  Wednesday   NORTHERN
3  2015-05-13  Wednesday   NORTHERN
4  2015-05-13  Wednesday       PARK

## **Data Preprocessing - Weather**

In [0]:
weather["date"] = pd.to_datetime(weather["date"]).dt.date

In [31]:
weather.head()

         date  avg_temp (celsius)  ... visibility (km) moon_illumination, %
0  2003-01-01                   9  ...            15.0   Waning Crescent, 1
1  2003-01-02                  10  ...            15.0   Waning Crescent, 0
2  2003-01-03                  10  ...            15.0          New Moon, 1
3  2003-01-04                  11  ...            15.0   Waxing Crescent, 5
4  2003-01-05                  11  ...             6.0  Waxing Crescent, 10

[5 rows x 6 columns]

In [29]:
len