In [17]:
!pip install geopandas

Requirement already satisfied: geopandas in /usr/local/lib/python3.6/dist-packages (0.6.2)
Requirement already satisfied: fiona in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.8.13)
Requirement already satisfied: pyproj in /usr/local/lib/python3.6/dist-packages (from geopandas) (2.4.2.post1)
Requirement already satisfied: shapely in /usr/local/lib/python3.6/dist-packages (from geopandas) (1.6.4.post2)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/lib/python3.6/dist-packages (from geopandas) (0.25.3)
Requirement already satisfied: munch in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (2.5.0)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.12.0)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (19.3.0)
Requirement already satisfied: click<8,>=4.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (7.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (1.1.1)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.6/dist-packages (from fiona->geopandas) (0.5.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.0->geopandas) (1.17.5)

In [0]:
import pandas as pd
import numpy as np
import geopandas as gpd
import folium
import branca.colormap as cm
import datetime as dt

In [0]:
data = pd.read_csv("train.csv")

In [0]:
data["Dates"] = pd.to_datetime(data["Dates"])
data["Year"] = data["Dates"].dt.year
data["Month"] = data["Dates"].dt.month
data["Day"] = data["Dates"].dt.day

In [23]:
data.head()

                Dates        Category  ... Month Day
0 2015-05-13 23:53:00        WARRANTS  ...     5  13
1 2015-05-13 23:53:00  OTHER OFFENSES  ...     5  13
2 2015-05-13 23:33:00  OTHER OFFENSES  ...     5  13
3 2015-05-13 23:30:00   LARCENY/THEFT  ...     5  13
4 2015-05-13 23:30:00   LARCENY/THEFT  ...     5  13

[5 rows x 12 columns]

In [45]:
map_test = data.copy()
map_test = map_test[map_test["Year"] == 2015]
map_test = map_test[map_test["Month"] == 1]
map_test = map_test[map_test["Day"] == 5]
map_test = data.drop(columns=["Descript", "DayOfWeek", "Resolution", "Address"])
map_test.head()

                Dates        Category PdDistrict  ...  Year  Month  Day
0 2015-05-13 23:53:00        WARRANTS   NORTHERN  ...  2015      5   13
1 2015-05-13 23:53:00  OTHER OFFENSES   NORTHERN  ...  2015      5   13
2 2015-05-13 23:33:00  OTHER OFFENSES   NORTHERN  ...  2015      5   13
3 2015-05-13 23:30:00   LARCENY/THEFT   NORTHERN  ...  2015      5   13
4 2015-05-13 23:30:00   LARCENY/THEFT       PARK  ...  2015      5   13

[5 rows x 8 columns]

In [0]:
sfpd = gpd.read_file("current_police_districts.geojson")

In [42]:
sfpd=sfpd[["district","geometry"]]
sfpd.head()

     district                                           geometry
0    SOUTHERN  MULTIPOLYGON (((-122.39186 37.79425, -122.3917...
1     BAYVIEW  MULTIPOLYGON (((-122.38098 37.76480, -122.3810...
2     MISSION  MULTIPOLYGON (((-122.40954 37.76932, -122.4086...
3    NORTHERN  MULTIPOLYGON (((-122.43379 37.80793, -122.4337...
4  TENDERLOIN  MULTIPOLYGON (((-122.40217 37.78626, -122.4171...

In [0]:
center = [np.mean(map_test["X"]), np.mean(map_test["Y"]) ]

In [50]:
center

[-122.4226164550066, 37.77102029800673]

In [54]:
sfmap = folium.Map(location=center, zoom_start=12)
sfmap